form{
text-align: center;    
}
body {
background-color: aqua;

}
h1{
color:navy;
font-size: 40px;
}
h2{
color: rebeccapurple;
font-size: 30px
}
p{
font-style: verdana;
font-size: 20px;
}
div.a, div.b, div.c {
text-align: center;
}